
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: #eee;
  user-select: none;
  --background-color: #18181B;
  --text-color: #A1A1AA;
  --card-background-color: rgba(255, 255, 255, .015);
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-box-shadow-1: rgba(0, 0, 0, 0.05);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;
  --card-label-color: #FFFFFF;
  --card-icon-color: #D4D4D8;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
  --card-icon-border-color: rgba(255, 255, 255, 0.12);
  --card-shine-opacity: .1;
  --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
  --card-line-color: #2A2B2C;
  --card-tile-color: rgba(16, 185, 129, 0.05);
  --card-hover-border-color: rgba(255, 255, 255, 0.2);
  --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
  --card-hover-box-shadow-1-y: 5px;
  --card-hover-box-shadow-1-blur: 10px;
  --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
  --card-hover-box-shadow-2-y: 15px;
  --card-hover-box-shadow-2-blur: 25px;
  --card-hover-icon-color: #34D399;
  --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
  --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);
  --blur-opacity: .01;
}


body.toggle .grid * {
  transition-duration: 0s !important;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}

.card {
  user-select: none;
  max-width: 450px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}

.card hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}

.card ins {
  text-decoration: none;
}

.card .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}

.card .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center 29%;
}

.card .main .description {
  margin: 0.5rem 0;
  color: #a89ec9;
}

.card .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}

.card .main .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}

.card .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 0.2rem;
}

.card .main .tokenInfo .duration ins {
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}

.card .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}

.card .main .creator ins {
  color: #a89ec9;
  text-decoration: none;
}

.card .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}

.card .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}

.card ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}

.card:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.card:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}
.services{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
   
}

/* Aquí está tu nueva clase para el título de sección */
.section-title {
  background: radial-gradient(
    hsl(100 100% 60%) , 
    hsl(200 100% 60%) 
  ) fixed;
  background: conic-gradient(
    hsl(302.65deg 100% 77.84%), 
    hsl(200 100% 60%), 
    hsl(302.65deg 100% 77.84%) 
  ) fixed;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2.5rem;
} 

body {
  background: hsl(204 100% 5%);

}

h1, p, body {
  margin: 0;
}

h1 {
  font-size: 10vmin;
  line-height: 1.1;
  max-inline-size: 15ch;
  margin: auto;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
  margin-top: 1ch;
  line-height: 1.35;
  max-inline-size: 40ch;
  margin: auto;

}
/**/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 240px); 
  grid-gap: 32px;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: stretch;
  
}

.card-container {
  background-color: var(--background-color);
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
  padding: 56px 16px 16px 16px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.25s;
  min-width: 200px;
  
}

.card-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background-color: var(--card-background-color);
}

.card-container .icon-container {
  z-index: 2;
  position: relative;
  display: table;
  padding: 8px;
}

.card-container .icon-container::after {
  content: "";
  position: absolute;
  inset: 4.5px;
  border-radius: 50%;
  background-color: var(--card-icon-background-color);
  border: 1px solid var(--card-icon-border-color);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: background-color 0.25s, border-color 0.25s;
}

.card-container .icon-container svg {
  position: relative;
  z-index: 1;
  display: block;
  width: 34px;
  height: 34px;
  transform: translateZ(0);
  color: var(--card-icon-color);
  transition: color 0.25s;
}

.card-container h4 {

  z-index: 2;
  position: relative;
  margin: 12px 0 4px 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  color: var(--card-label-color);
}

.card-container p {
  z-index: 2;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}

.card-container .shine-effect {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.card-container .shine-effect:before {
  content: "";
  width: 150%;
  padding-bottom: 150%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 55%;
  filter: blur(35px);
  opacity: var(--card-shine-opacity);
  transform: translateX(-50%);
  background-image: var(--card-shine-gradient);
}

.card-container .bg-container {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
  mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
}

.card-container .bg-container .tiles {
  opacity: 0;
  transition: opacity 0.25s;
}

.card-container .bg-container .tiles .tile {
  position: absolute;
  background-color: var(--card-tile-color);
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
}

.card-container .bg-container .tiles .tile.tile-4,
.card-container .bg-container .tiles .tile.tile-6,
.card-container .bg-container .tiles .tile.tile-10 {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.card-container .bg-container .tiles .tile.tile-3,
.card-container .bg-container .tiles .tile.tile-5,
.card-container .bg-container .tiles .tile.tile-8 {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

.card-container .bg-container .tiles .tile.tile-2,
.card-container .bg-container .tiles .tile.tile-9 {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

.card-container .bg-container .tiles .tile.tile-1 {
  top: 0;
  left: 0;
  height: 10%;
  width: 22.5%;
}

.card-container .bg-container .tiles .tile.tile-2 {
  top: 0;
  left: 22.5%;
  height: 10%;
  width: 27.5%;
}

.card-container .bg-container .tiles .tile.tile-3 {
  top: 0;
  left: 50%;
  height: 10%;
  width: 27.5%;
}

.card-container .bg-container .tiles .tile.tile-4 {
  top: 0;
  left: 77.5%;
  height: 10%;
  width: 22.5%;
}

.card-container .bg-container .tiles .tile.tile-5 {
  top: 10%;
  left: 0;
  height: 22.5%;
  width: 22.5%;
}

.card-container .bg-container .tiles .tile.tile-6 {
  top: 10%;
  left: 22.5%;
  height: 22.5%;
  width: 27.5%;
}

.card-container .bg-container .tiles .tile.tile-7 {
  top: 10%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}

.card-container .bg-container .tiles .tile.tile-8 {
  top: 10%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}

.card-container .bg-container .tiles .tile.tile-9 {
  top: 32.5%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}

.card-container .bg-container .tiles .tile.tile-10 {
  top: 32.5%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}

@-webkit-keyframes tile {

  0%,
  12.5%,
  100% {
    opacity: 1;
  }

  25%,
  82.5% {
    opacity: 0;
  }
}

@keyframes tile {

  0%,
  12.5%,
  100% {
    opacity: 1;
  }

  25%,
  82.5% {
    opacity: 0;
  }
}

.card-container .bg-container .line-effect {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.35s;
}

.card-container .bg-container .line-effect:before,
.card-container .bg-container .line-effect:after {
  content: "";
  position: absolute;
  background-color: var(--card-line-color);
  transition: transform 0.35s;
}

.card-container .bg-container .line-effect:before {
  left: 0;
  right: 0;
  height: 1px;
  transform-origin: 0 50%;
  transform: scaleX(0);
}

.card-container .bg-container .line-effect:after {
  top: 0;
  bottom: 0;
  width: 1px;
  transform-origin: 50% 0;
  transform: scaleY(0);
}

.card-container .bg-container .line-effect.line-1:before {
  top: 10%;
}

.card-container .bg-container .line-effect.line-1:after {
  left: 22.5%;
}

.card-container .bg-container .line-effect.line-1:before,
.card-container .bg-container .line-effect.line-1:after {
  transition-delay: 0.3s;
}

.card-container .bg-container .line-effect.line-2:before {
  top: 32.5%;
}

.card-container .bg-container .line-effect.line-2:after {
  left: 50%;
}

.card-container .bg-container .line-effect.line-2:before,
.card-container .bg-container .line-effect.line-2:after {
  transition-delay: 0.15s;
}

.card-container .bg-container .line-effect.line-3:before {
  top: 55%;
}

.card-container .bg-container .line-effect.line-3:after {
  right: 22.5%;
}

.card-container:hover {
  box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1),
   0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2),
    0 0 0 1px var(--card-hover-border-color);
}

.card-container:hover .icon-container::after {
  background-color: var(--card-hover-icon-background-color);
  border-color: var(--card-hover-icon-border-color);
}

.card-container:hover .icon-container svg {
  color: var(--card-hover-icon-color);
}

.card-container:hover .shine-effect {
  opacity: var(--card-shine-opacity);
}

.card-container:hover .bg-container .tiles {
  opacity: 1;
}

.card-container:hover .bg-container .line-effect {
  opacity: 1;
}

.card-container:hover .bg-container .line-effect:before {
  transform: scaleX(1);
}

.card-container:hover .bg-container .line-effect:after {
  transform: scaleY(1);
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas para pantallas medianas */
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; /* 1 columna para pantallas pequeñas */
  }
}



:root{
  --fondo-oscuro: #2d3548;
  --texto-claro: rgba(255,255,255,0.6);
  --texto-mas-claro: rgba(255,255,255,0.9);
  --espacio-pequeno: 8px;
  --espacio-medio: 16px;
  --espacio-grande: 24px;
  --espacio-xl: 32px;
  --espacio-xxl: 64px;
  --ancho-contenedor: 1200px;
}



.seccion-proyectos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  min-height: 100vh;
  padding: var(--espacio-xxl) var(--espacio-grande);
  text-align: center;
}

.titulo-seccion{
  color: var(--texto-mas-claro);
  font-size: 2.5rem;
  margin-bottom: var(--espacio-xl);
}

.contenedor-tarjetas{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--espacio-grande);
  max-width: var(--ancho-contenedor);
  width: 100%;
  justify-content: center; /* Centrando las tarjetas horizontalmente */
}

@media(min-width: 540px){
  .contenedor-tarjetas{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .contenedor-tarjetas{
    grid-template-columns: repeat(4, 1fr); /* Ajusta la cantidad de tarjetas por fila */
  }
}

.tarjeta{
  list-style: none;
  position: relative;
}

.tarjeta:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.tarjeta__fondo{
  background-size: cover;
  background-position: center;
  border-radius: var(--espacio-grande);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.tarjeta:hover .tarjeta__fondo{
  transform: scale(1.05) translateZ(0);
}

.contenedor-tarjetas:hover > .tarjeta:not(:hover) .tarjeta__fondo{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.tarjeta__contenido{
  left: 0;
  padding: var(--espacio-grande);
  position: absolute;
  top: 0;
}

.tarjeta__categoria{
  color: var(--texto-claro);
  font-size: 0.9rem;
  margin-bottom: var(--espacio-pequeno);
  text-transform: uppercase;
}

.tarjeta__titulo{
  color: var(--texto-mas-claro);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
}
